body {
  background-image: url("../SignUpPage/ScoutsLogo.gif");
  background-repeat: repeat;
  background-size: 50%;
  font-family: Arial, sans-serif;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  min-width: 500px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 80vh;
  position: absolute;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  margin:8px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.register{
  text-align: center;
}
/* Media Query for Mobile Screens */
@media screen and (max-width: 480px) {
  .container {
    min-width: 300px;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
  }
}
