.slider {
  position: relative;
  height: calc(100vh - 100px); /* Subtract 100px for the text below */
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 1s ease;
  border-radius: 20px; /* Add some border radius for the container */
}

.slide.active {
  opacity: 1;
}

.slide h1 {
  font-family: 'Poppins',sans-serif;
  color: #007fff;
  text-align: center;
  margin-top: 20px;
}

.slide:nth-child(1) p {
  font-family: 'Poppins',sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.slide:nth-child(2) p {
  font-family: 'Poppins',sans-serif;
  text-align: center;
  margin-bottom: 40px;  
}

.slide:nth-child(3) p {
  font-family: 'Poppins',sans-serif;
  text-align: center;
  margin-bottom: 40px;
}


.image-container {
  width: 100%;
  /* height: fit-content; changes height to auto to adjust to image's height */
  height: 418px !important;
  max-width: 800px; /* adds a max-width to the container to prevent it from getting too large */
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: 0 auto; /* centers the container horizontally */
}

.image-container img {
  display: block; /* adds display block to the image to remove extra padding */
  margin: 0 auto; /* centers the image horizontally */
  max-width: 100%; /* ensures that the image does not exceed the container's width */
  height: auto; /* changes height to auto to adjust to the image's height */
  border-radius: 10px;
  width: 100%; /* sets the image width to 100% to fill the container */
  height: 100%; /* sets the image height to 100% to fill the container */
  object-fit: cover; /* stretches or shrinks the image to cover the entire container */
}

.slide-content {
  height: 400px;
}


/*
.slide:nth-of-type(1) {
  background-image: url('../Pictures/ScoutPic4.jpg');
  background-size: cover;
  background-position: center;
}

.slide:nth-of-type(2) {
  background-image: url('../Pictures/ScoutPic5.jpg');
  background-size: cover;
  background-position: center;
}

.slide:nth-of-type(3) {
  background-image: url('../Pictures/ScoutPic6_auto_x2.jpg');
  background-size: cover;
  background-position: center;
}
*/
.login-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: lightgray;
  color:white;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #999;
}


.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 10px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* mobile devices */
@media only screen and (max-width: 767px) {
  .image-container {
    width: 100%;
    height: fit-content; /* changes height to auto to adjust to image's height */
    max-width: 800px; /* adds a max-width to the container to prevent it from getting too large */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 0 auto; /* centers the container horizontally */
  }
  
  .image-container img {
    display: block; /* adds display block to the image to remove extra padding */
    margin: 0 auto; /* centers the image horizontally */
    max-width: 100%; /* ensures that the image does not exceed the container's width */
    height: auto; /* changes height to auto to adjust to the image's height */
    border-radius: 10px;
    width: 100%; /* sets the image width to 100% to fill the container */
    height: 100%; /* sets the image height to 100% to fill the container */
    object-fit: cover; /* stretches or shrinks the image to cover the entire container */
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .image-container {
    width: 100%;
    height: fit-content; /* changes height to auto to adjust to image's height */
    max-width: 800px; /* adds a max-width to the container to prevent it from getting too large */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 0 auto; /* centers the container horizontally */
  }
  
  .image-container img {
    display: block; /* adds display block to the image to remove extra padding */
    margin: 0 auto; /* centers the image horizontally */
    max-width: 100%; /* ensures that the image does not exceed the container's width */
    height: auto; /* changes height to auto to adjust to the image's height */
    border-radius: 10px;
    width: 100%; /* sets the image width to 100% to fill the container */
    height: 100%; /* sets the image height to 100% to fill the container */
    object-fit: cover; /* stretches or shrinks the image to cover the entire container */
  }
}

/*For tablets*/
@media only screen and (min-width: 768px) and (max-width: 991px) {}
/*
For small laptops and desktops:*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/*For larger desktops and high-resolution devices:*/
@media only screen and (min-width: 1200px) {}