body {
  font-family: 'Poppins', sans-serif;
  background-color: #34568B;
  margin-top: 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 660px;
  margin: 0 auto;
  padding-right: 40px;
}

h1 {
 text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.input-group {
  flex-grow: 1;
  margin-right: 20px;
}

.input-group label {
  width: 120px;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
width: 620px;
}

input[type="text"],
input[type="email"],
input[type="tel"]{
width: 300px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper {
display: flex;
align-items: center;
justify-content: flex-start;
margin: 10px 0;
}

canvas {
border: 1px solid #000000;
border-radius: 5px;
margin-right: 5px;
height: 30px;
width: 252px;
border: 1px solid green;
}

button#reload-button {
font-size: 20px;
width: 40px;
height: 32px;
background-color: green;
color: #fff;
border: none;
border-radius: 5px;
}

.invalid {
border-color: red !important;
}

button[type="submit"] {
  background-color: green;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

button:hover {
  background-color: darkgreen;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.success-message {
color: white;
}

.error-input {
border-color: red;
}
.images img:nth-child(1){
	padding: 20px;
	position: absolute;
	object-fit: cover;
	width: 15%;
	left: 0;
	top:0;
	/* height: 10%; */
}
.images img:nth-child(2){
	padding: 20px;
	position: absolute;
	object-fit: cover;
	width: 15%;
	position: absolute;
	top: 0;
	right: 0;
}
.images img:nth-child(3){
	padding: 20px;
	position: absolute;
	object-fit: cover;
	width: 15%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.images img:nth-child(4){
	padding: 20px;
	position: absolute;
	object-fit: cover;
	width: 15%;
	position: absolute;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 480px) {
  .card,
  .container {
    min-width: 300px;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
  }
}