body {
	background-color: #34568B;
	font-family: Arial,sans-serif;
	margin-top: 160px;
  }

.card {
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	width: 480px;
	margin: 0 auto;
	padding-right: 40px;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="password"], 
input[type="email"]{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 16px;
	width: 100%;
}
	

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button[type="submit"],
.cancel-button {
    background-color: green;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

.cancel-button {
    margin-left: 10px;
}

.button-container button:hover {
    background-color: darkgreen;
}
		
.centered-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.success-message,
	#errorMsg {
		margin-top: 10px;
		text-align: center;
		font-weight: bold;
	}

	#errorMsg {
		color: white;
	}

.success-message {
	color: white;
}
.error-input {
	border-color: red;
}
.eye-icon,
.eye-icon2 {
	position: absolute;
	right: calc(50% - 185px); 
	top: calc(33.5% + 5px); 
	cursor: pointer;
	/*color: lightgray;*/
}

.eye-icon2 {
	top: calc(45.5% + 5px); 
}

.images img:nth-child(1){
	padding: 20px;
	position: absolute;
	object-fit: cover;
	width: 15%;
	left: 0;
	top:0;
	/* height: 10%; */
}
.images img:nth-child(2){
	padding: 20px;
	position: absolute;
	object-fit: cover;
	width: 15%;
	position: absolute;
	top: 0;
	right: 0;
}
.images img:nth-child(3){
	padding: 20px;
	position: absolute;
	object-fit: cover;
	width: 15%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.images img:nth-child(4){
	padding: 20px;
	position: absolute;
	object-fit: cover;
	width: 15%;
	position: absolute;
	bottom: 0;
	right: 0;
}